.Card {
    width: 300px;
    height: 350px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
}

.upper-container {
    height: 100px;
    background: linear-gradient(to left, #54E346, #9EDE73 );
}

.image-container > img {
object-fit: cover;
 background: white;
 width: 150px !important;
 height: 150px !important;
 border-radius: 50%;
 padding: 5px;
 transform: translate(50%,25%);
 border: 2px solid #54E346;
}

.lower-container {
    height: 300px;
    background: white;
    text-align: center;
    margin-top: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lower-container > h3 {
    color: #2f2d2e;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 40% !important;
}

.lower-container > h4 {
    color: #54E346;
    font-weight: 800;
    font-size: 1.2rem;
}

.lower-container > a {
    color: black;
    padding: 2px;
}

.image-container {
    transition: transform 450ms;
}

.image-container:hover {
    transform: scale(1.25);
}
