:root {
  --card-info-color: #ffffff;
  --badge-info-color: #94f39d;
}

.bg-event {
  background: var(--badge-info-color);
}

.card:hover {
  box-shadow: 0px 10px 10px rgba(7, 7, 7, 0.2);
}

@media (min-width: 0px) {
  .ms-event-card-img {
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .ms-event-card-body {
    padding-top: 10px;
    padding-left: 10px;
  }

  .ms-event-card-header-row {
    height: 120px;
    padding-left: 5px;
  }

  .ms-event-tags {
    height: 30px;
  }

  .ms-event-description {
    text-align: left;
    font-size: 15px;
    overflow: hidden;
    font-family: 'Roboto';
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .ms-event-card-title {
    font-size: 16px;
    font-weight: 600;
    height: 50px;
  }

  .ms-event-card {
    width: 300px;
    height: 450px;
    border-radius: 10px 10px;
    background: var(--light);
    transition: 0.2s;
    border-radius: 20px;
  }

  .ms-event-btn {
    font-family: 'Roboto';
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (min-width: 576px) {
  .ms-event-card-img {
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .ms-event-card-body {
    padding-top: 10px;
    padding-left: 10px;
  }

  .ms-event-card-header-row {
    height: 120px;
    padding-left: 5px;
  }

  .ms-event-tags {
    height: 30px;
  }

  .ms-event-description {
    text-align: left;
    font-size: 15px;
    font-family: 'Roboto';
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .ms-event-card-title {
    font-size: 16px;
    font-weight: 600;
    height: 35px;
  }

  .ms-event-card {
    width: 320px;
    height: 440px;
    border-radius: 10px 10px;
    background: var(--light);
    transition: 0.2s;
    border-radius: 20px;
  }

  .ms-event-btn {
    font-family: 'Roboto';
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) {
  .ms-event-card-img {
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .ms-event-card-body {
    padding-top: 10px;
    padding-left: 10px;
  }

  .ms-event-card-header-row {
    height: 120px;
    padding-left: 5px;
  }

  .ms-event-tags {
    height: 30px;
  }

  .ms-event-description {
    text-align: left;
    font-size: 15px;
    overflow: hidden;
    font-family: 'Roboto';
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .ms-event-card-title {
    font-size: 16px;
    font-weight: 600;
    height: 50px;
  }

  .ms-event-card {
    width: 300px;
    height: 450px;
    border-radius: 10px 10px;
    background: var(--light);
    transition: 0.2s;
    border-radius: 20px;
  }

  .ms-event-btn {
    font-family: 'Roboto';
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (min-width: 992px) {
  .ms-event-card-img {
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .ms-event-card-body {
    padding-top: 10px;
    padding-left: 10px;
  }

  .ms-event-card-header-row {
    height: 120px;
    padding-left: 5px;
  }

  .ms-event-tags {
    height: 30px;
  }

  .ms-event-description {
    text-align: left;
    font-size: 15px;
    font-family: 'Roboto';
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .ms-event-card-title {
    font-size: 16px;
    font-weight: 600;
    height: 50px;
  }

  .ms-event-card {
    width: 300px;
    height: 450px;
    border-radius: 10px 10px;
    background: var(--light);
    transition: 0.2s;
    border-radius: 20px;
  }

  .ms-event-btn {
    font-family: 'Roboto';
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (min-width: 1200px) {
  .ms-event-card-img {
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .ms-event-card-body {
    padding-top: 10px;
    padding-left: 10px;
  }

  .ms-event-card-header-row {
    height: 120px;
    padding-left: 5px;
  }

  .ms-event-tags {
    height: 30px;
  }

  .ms-event-description {
    text-align: left;
    font-size: 15px;
    overflow: hidden;
    font-family: 'Roboto';
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .ms-event-card-title {
    font-size: 16px;
    font-weight: 600;
    height: 35px;
  }

  .ms-event-card {
    width: 350px;
    height: 440px;
    border-radius: 10px 10px;
    background: var(--light);
    transition: 0.2s;
    border-radius: 20px;
  }

  .ms-event-btn {
    font-family: 'Roboto';
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (min-width: 1400px) {
  .ms-event-card-img {
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .ms-event-card-body {
    padding-top: 10px;
    padding-left: 10px;
  }

  .ms-event-card-header-row {
    height: 120px;
    padding-left: 5px;
  }

  .ms-event-tags {
    height: 30px;
  }

  .ms-event-description {
    text-align: left;
    font-size: 15px;
    font-family: 'Roboto';
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .ms-event-card-title {
    font-size: 16px;
    font-weight: 600;
    height: 35px;
  }

  .ms-event-card {
    width: 350px;
    height: 450px;
    border-radius: 10px 10px;
    background: var(--light);
    transition: 0.2s;
    border-radius: 20px;
  }

  .ms-event-btn {
    font-family: 'Roboto';
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
