:root {
  --light-home-background-color: #F6F5FF;
}

body {
  overflow-x: hidden;
}

.header {
  display: block;
  position: relative;
}

@media (min-width: 0px) {
  .home-hero-section-bg {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 560px;
    left: 0px;
    top: 0px;
    background: var(--light-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }
  
  .home-header-title {
    font-weight: bolder;
    font-size: 50px;
    font-style: normal;
    line-height: 118px;
    margin-bottom: auto;
  }
  
  .home-header-content {
    font-weight: 400;
    font-size: 19px;
  }
  
  .home-header-img {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    visibility: visible;
  }
  
  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }
  
  .home-header-btn:hover {
    border: 1px solid rgba(.1, .1, .1, .1);
    box-shadow: 0px 0px 5px 5px rgba(.15, .15, .15, .15);
  }
  
  .home-header-btn {
    width: 110px;
    height: 40px;
    background: #2CB93B;
    border-radius: 10px;
    color: #FFF;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    box-shadow: 0px 5px 8px rgba(.15, .15, .15, .15);
    transition: all .05s ease;
    margin-top: 2px;
    margin-left: 42%;
  }
  
  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }
  
  .home-header-btn:hover {
    border: 1px solid rgba(.1, .1, .1, .1);
    box-shadow: 0px 0px 5px 5px rgba(.15, .15, .15, .15);
  }
}

@media (min-width: 576px) {
  .home-hero-section-bg {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 560px;
    left: 0px;
    top: 0px;
    background: var(--light-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }
  
  .home-header-title {
    font-weight: bolder;
    font-size: 50px;
    font-style: normal;
    line-height: 118px;
    margin-bottom: auto;
  }
  
  .home-header-content {
    font-weight: 400;
    font-size: 19px;
  }
  
  .home-header-img {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    visibility: visible;
  }
  
  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }
  
  .home-header-btn:hover {
    border: 1px solid rgba(.1, .1, .1, .1);
    box-shadow: 0px 0px 5px 5px rgba(.15, .15, .15, .15);
  }
  
  .home-header-btn {
    width: 110px;
    height: 40px;
    background: #2CB93B;
    border-radius: 10px;
    color: #FFF;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    box-shadow: 0px 5px 8px rgba(.15, .15, .15, .15);
    transition: all .05s ease;
    margin-top: 2px;
    margin-left: 42%;
  }
  
  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }
  
  .home-header-btn:hover {
    border: 1px solid rgba(.1, .1, .1, .1);
    box-shadow: 0px 0px 5px 5px rgba(.15, .15, .15, .15);
  }
}

@media (min-width: 768px) {
  .home-hero-section-bg {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 400px;
    left: 0px;
    top: 0px;
    background: var(--light-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 56%, 0 80%);
  }
  
  .home-header-title {
    font-weight: bolder;
    font-size: 50px;
    font-style: normal;
    line-height: 118px;
    width: 748px;
    margin-left: 20px;
    margin-bottom: auto;
  }
  
  .home-header-content {
    font-weight: 400;
    font-size: 19px;
    margin-left: 20px;
  }
  
  .home-header-img {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    visibility: visible;
  }
  
  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }
  
  .home-header-btn:hover {
    border: 1px solid rgba(.1, .1, .1, .1);
    box-shadow: 0px 0px 5px 5px rgba(.15, .15, .15, .15);
  }
  
  .home-header-btn {
    width: 110px;
    height: 40px;
    left: 84px;
    background: #2CB93B;
    border-radius: 10px;
    color: #FFF;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    box-shadow: 0px 5px 8px rgba(.15, .15, .15, .15);
    transition: all .05s ease;
    margin-left: 20px;
    margin-top: 2px;
  }
  
  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }
  
  .home-header-btn:hover {
    border: 1px solid rgba(.1, .1, .1, .1);
    box-shadow: 0px 0px 5px 5px rgba(.15, .15, .15, .15);
  }
}

@media (min-width: 992px) {
  .home-hero-section-bg {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 400px;
    left: 0px;
    top: 0px;
    background: var(--light-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 60%, 0 85%);
  }
  
  .home-header-title {
    font-weight: bolder;
    font-size: 60px;
    font-style: normal;
    line-height: 118px;
    width: 748px;
    margin-left: 60px;
  }
  
  .home-header-content {
    font-weight: 400;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 10px;
  }
  
  .home-header-img {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    visibility: visible;
  }
  
  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }
  
  .home-header-btn:hover {
    border: 1px solid rgba(.1, .1, .1, .1);
    box-shadow: 0px 0px 5px 5px rgba(.15, .15, .15, .15);
  }
  
  .home-header-btn {
    width: 130px;
    height: 40px;
    left: 84px;
    background: #2CB93B;
    border-radius: 10px;
    color: #FFF;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    box-shadow: 0px 5px 8px rgba(.15, .15, .15, .15);
    transition: all .05s ease;
    margin-left: 60px;
    margin-top: 8px;
  }
  
  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }
  
  .home-header-btn:hover {
    border: 1px solid rgba(.1, .1, .1, .1);
    box-shadow: 0px 0px 5px 5px rgba(.15, .15, .15, .15);
  }
}

@media (min-width: 1200px) {
  .home-hero-section-bg {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 480px;
    left: 0px;
    top: 0px;
    background: var(--light-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 67%, 0 95%);
  }
  
  .home-header-title {
    font-weight: bolder;
    font-size: 80px;
    font-style: normal;
    line-height: 118px;
    margin-top: 60px;
    width: 748px;
    margin-left: 70px;
  }
  
  .home-header-content {
    font-weight: 400;
    font-size: 22px;
    margin-left: 70px;
    margin-top: 10px;
  }
  
  .home-header-img {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    visibility: visible;
  }
  
  .home-header-btn {
    transition: all .2s ease;
    margin-left: 70px;
    margin-top: 20px;
  }
  
  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }
  
  .home-header-btn:hover {
    border: 1px solid rgba(.1, .1, .1, .1);
    box-shadow: 0px 0px 5px 5px rgba(.15, .15, .15, .15);
  }
  
  .home-header-btn {
    width: 130px;
    height: 40px;
    left: 84px;
    top: 551px;
    background: #2CB93B;
    border-radius: 10px;
    color: #FFF;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    box-shadow: 0px 5px 8px rgba(.15, .15, .15, .15);
    transition: all .05s ease;
    margin-left: 70px;
    margin-top: 25px;
  }
  
  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }
  
  .home-header-btn:hover {
    border: 1px solid rgba(.1, .1, .1, .1);
    box-shadow: 0px 0px 5px 5px rgba(.15, .15, .15, .15);
  }
}

@media (min-width: 1400px) {
  .home-hero-section-bg {
    position: absolute;
    overflow: auto;
    width: 100vw;
    height: 700px;
    left: 0px;
    top: 0px;
    background: var(--light-home-background-color);
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 95%);
  }
  
  .home-header-title {
    font-weight: bolder;
    font-size: 100px;
    font-style: normal;
    line-height: 118px;
    margin-top: 100px;
    width: 748px;
    margin-left: 150px;
  }
  
  .home-header-content {
    font-weight: 400;
    font-size: 22px;
    margin-left: 150px;
    margin-top: 10px;
  }
  
  .home-header-img {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 120px;
    visibility: visible;
  }
  
  .home-header-btn {
    transition: all .2s ease;
    margin-left: 150px;
    margin-top: 20px;
  }
  
  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }
  
  .home-header-btn:hover {
    border: 1px solid rgba(.1, .1, .1, .1);
    box-shadow: 0px 0px 5px 5px rgba(.15, .15, .15, .15);
  }
  
  .home-header-btn {
    width: 130px;
    height: 40px;
    left: 84px;
    top: 551px;
    background: #2CB93B;
    border-radius: 10px;
    color: #FFF;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    box-shadow: 0px 5px 8px rgba(.15, .15, .15, .15);
    transition: all .05s ease;
    margin-left: 150px;
    margin-top: 25px;
  }
  
  .home-header-btn:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.97);
  }
  
  .home-header-btn:hover {
    border: 1px solid rgba(.1, .1, .1, .1);
    box-shadow: 0px 0px 5px 5px rgba(.15, .15, .15, .15);
  }
}

