:root {
  --light-navbar-background-color: #f6f5ff;
}

.bg {
  background: var(--light-navbar-background-color);
}

.img-logo {
  width: 80px;
}

.navLink {
  font-size: large;
  font-weight: bold;
  color:  #000000;
}

.navbar {
  background:#F6F5FF;
  height: 90px;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 5;
  left: 0;
  right: 0;
}

.navbar.active {
  background: #F2F2F2;
  position: fixed;
  animation: moveDown 0.5s ease-in-out;
  width: 100%;
}

